streamlit
streamlit-lottie
streamlit-mic-recorder
groq
elevenlabs
pydub
uuid
python-dotenv

# streamlit-webrtc
# scipy
# soundfile
# openai
# whisper
# openai-whisper
# transformers
# torchaudio
